- experience_level: The experience level in the job during the year.
  - EN > Entry-level / Junior
  - MI > Mid-level / Intermediate
  - SE > Senior-level / Expert
  - EX > Executive-level / Director
- employment_type: The type of employment for the role.
  - PT > Part-time
  - FT > Full-time
  - CT > Contract
  - FL > Freelance
- job_title: The role worked in during the year.
- salary: The total gross salary amount paid.
- salary_currency: The currency of the salary paid as an ISO 4217 currency code.
- salaryinusd: The salary in USD.
- employee_residence: Employee's primary country of residence during the work year as an ISO 3166 country code.
- remote_ratio: The overall amount of work done remotely.
- company_location: The country of the employer's main office or contracting branch.
- company_size: The median number of people that worked for the company during the year.

In [184]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [185]:
df = pd.read_csv("Data_Scientist_Salaries.csv")

In [186]:
df.shape

(3755, 11)

In [187]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [188]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [189]:
df.duplicated().sum()

1171

In [190]:
df.drop_duplicates(inplace=True)

In [191]:
df.reset_index(drop=True, inplace=True)

In [192]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [193]:
df.drop(['work_year', 'salary', 'salary_currency', 'employee_residence', 'remote_ratio'], axis=1, inplace=True)

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   experience_level  2584 non-null   object
 1   employment_type   2584 non-null   object
 2   job_title         2584 non-null   object
 3   salary_in_usd     2584 non-null   int64
 4   company_location  2584 non-null   object
 5   company_size      2584 non-null   object
dtypes: int64(1), object(5)
memory usage: 121.2+ KB

In [195]:
cat_col = [col for col in df.columns if df[col].dtype == 'O']
cat_col

['experience_level',
 'employment_type',
 'job_title',
 'company_location',
 'company_size']

In [196]:
for col in cat_col:
    print(col, df[col].unique())

experience_level ['SE' 'MI' 'EN' 'EX']
employment_type ['FT' 'CT' 'FL' 'PT']
job_title ['Principal Data Scientist' 'ML Engineer' 'Data Scientist'
 'Applied Scientist' 'Data Analyst' 'Data Modeler' 'Research Engineer'
 'Analytics Engineer' 'Business Intelligence Engineer'
 'Machine Learning Engineer' 'Data Strategist' 'Data Engineer'
 'Computer Vision Engineer' 'Data Quality Analyst'
 'Compliance Data Analyst' 'Data Architect'
 'Applied Machine Learning Engineer' 'AI Developer' 'Research Scientist'
 'Data Analytics Manager' 'Business Data Analyst' 'Applied Data Scientist'
 'Staff Data Analyst' 'ETL Engineer' 'Data DevOps Engineer' 'Head of Data'
 'Data Science Manager' 'Data Manager' 'Machine Learning Researcher'
 'Big Data Engineer' 'Data Specialist' 'Lead Data Analyst'
 'BI Data Engineer' 'Director of Data Science'
 'Machine Learning Scientist' 'MLOps Engineer' 'AI Scientist'
 'Autonomous Vehicle Technician' 'Applied Machine Learning Scientist'
 'Lead Data Scientist' 'Cloud Database Engineer' 'Financial Data Analyst'
 'Data Infrastructure Engineer' 'Software Data Engineer' 'AI Programmer'
 'Data Operations Engineer' 'BI Developer' 'Data Science Lead'
 'Deep Learning Researcher' 'BI Analyst' 'Data Science Consultant'
 'Data Analytics Specialist' 'Machine Learning Infrastructure Engineer'
 'BI Data Analyst' 'Head of Data Science' 'Insight Analyst'
 'Deep Learning Engineer' 'Machine Learning Software Engineer'
 'Big Data Architect' 'Product Data Analyst'
 'Computer Vision Software Engineer' 'Azure Data Engineer'
 'Marketing Data Engineer' 'Data Analytics Lead' 'Data Lead'
 'Data Science Engineer' 'Machine Learning Research Engineer'
 'NLP Engineer' 'Manager Data Management' 'Machine Learning Developer'
 '3D Computer Vision Researcher' 'Principal Machine Learning Engineer'
 'Data Analytics Engineer' 'Data Analytics Consultant'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Data Scientist Lead' 'Cloud Data Engineer' 'Data Operations Analyst'
 'Marketing Data Analyst' 'Power BI Developer' 'Product Data Scientist'
 'Principal Data Architect' 'Machine Learning Manager'
 'Lead Machine Learning Engineer' 'ETL Developer' 'Cloud Data Architect'
 'Lead Data Engineer' 'Head of Machine Learning' 'Principal Data Analyst'
 'Principal Data Engineer' 'Staff Data Scientist' 'Finance Data Analyst']
company_location ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'NL' 'CH' 'CF' 'FR' 'FI' 'UA'
 'IE' 'IL' 'GH' 'CO' 'SG' 'AU' 'SE' 'SI' 'MX' 'BR' 'PT' 'RU' 'TH' 'HR'
 'VN' 'EE' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK' 'IT' 'MA' 'PL' 'AL'
 'AR' 'LT' 'AS' 'CR' 'IR' 'BS' 'HU' 'AT' 'SK' 'CZ' 'TR' 'PR' 'DK' 'BO'
 'PH' 'BE' 'ID' 'EG' 'AE' 'LU' 'MY' 'HN' 'JP' 'DZ' 'IQ' 'CN' 'NZ' 'CL'
 'MD' 'MT']
company_size ['L' 'S' 'M']

In [197]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['EN', 'MI', 'SE', 'EX']])
df['experience_level'] = oe.fit_transform(df[['experience_level']])

In [198]:
oe = OrdinalEncoder(categories=[['S','M', 'L']])
df['company_size'] = oe.fit_transform(df[['company_size']])

In [199]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

label_mappings = {}

for col in cat_col[1:-1]:
    df[col] = le.fit_transform(df[col])
    label_mappings[col] = dict(zip(le.classes_, le.transform(le.classes_)))

for col, mapping in label_mappings.items():
    print(f"Column: {col}")
    print(mapping)
    print()

Column: employment_type
{'CT': 0, 'FL': 1, 'FT': 2, 'PT': 3}

Column: job_title
{'3D Computer Vision Researcher': 0, 'AI Developer': 1, 'AI Programmer': 2, 'AI Scientist': 3, 'Analytics Engineer': 4, 'Applied Data Scientist': 5, 'Applied Machine Learning Engineer': 6, 'Applied Machine Learning Scientist': 7, 'Applied Scientist': 8, 'Autonomous Vehicle Technician': 9, 'Azure Data Engineer': 10, 'BI Analyst': 11, 'BI Data Analyst': 12, 'BI Data Engineer': 13, 'BI Developer': 14, 'Big Data Architect': 15, 'Big Data Engineer': 16, 'Business Data Analyst': 17, 'Business Intelligence Engineer': 18, 'Cloud Data Architect': 19, 'Cloud Data Engineer': 20, 'Cloud Database Engineer': 21, 'Compliance Data Analyst': 22, 'Computer Vision Engineer': 23, 'Computer Vision Software Engineer': 24, 'Data Analyst': 25, 'Data Analytics Consultant': 26, 'Data Analytics Engineer': 27, 'Data Analytics Lead': 28, 'Data Analytics Manager': 29, 'Data Analytics Specialist': 30, 'Data Architect': 31, 'Data DevOps Engineer': 32, 'Data Engineer': 33, 'Data Infrastructure Engineer': 34, 'Data Lead': 35, 'Data Management Specialist': 36, 'Data Manager': 37, 'Data Modeler': 38, 'Data Operations Analyst': 39, 'Data Operations Engineer': 40, 'Data Quality Analyst': 41, 'Data Science Consultant': 42, 'Data Science Engineer': 43, 'Data Science Lead': 44, 'Data Science Manager': 45, 'Data Science Tech Lead': 46, 'Data Scientist': 47, 'Data Scientist Lead': 48, 'Data Specialist': 49, 'Data Strategist': 50, 'Deep Learning Engineer': 51, 'Deep Learning Researcher': 52, 'Director of Data Science': 53, 'ETL Developer': 54, 'ETL Engineer': 55, 'Finance Data Analyst': 56, 'Financial Data Analyst': 57, 'Head of Data': 58, 'Head of Data Science': 59, 'Head of Machine Learning': 60, 'Insight Analyst': 61, 'Lead Data Analyst': 62, 'Lead Data Engineer': 63, 'Lead Data Scientist': 64, 'Lead Machine Learning Engineer': 65, 'ML Engineer': 66, 'MLOps Engineer': 67, 'Machine Learning Developer': 68, 'Machine Learning Engineer': 69, 'Machine Learning Infrastructure Engineer': 70, 'Machine Learning Manager': 71, 'Machine Learning Research Engineer': 72, 'Machine Learning Researcher': 73, 'Machine Learning Scientist': 74, 'Machine Learning Software Engineer': 75, 'Manager Data Management': 76, 'Marketing Data Analyst': 77, 'Marketing Data Engineer': 78, 'NLP Engineer': 79, 'Power BI Developer': 80, 'Principal Data Analyst': 81, 'Principal Data Architect': 82, 'Principal Data Engineer': 83, 'Principal Data Scientist': 84, 'Principal Machine Learning Engineer': 85, 'Product Data Analyst': 86, 'Product Data Scientist': 87, 'Research Engineer': 88, 'Research Scientist': 89, 'Software Data Engineer': 90, 'Staff Data Analyst': 91, 'Staff Data Scientist': 92}

Column: company_location
{'AE': 0, 'AL': 1, 'AM': 2, 'AR': 3, 'AS': 4, 'AT': 5, 'AU': 6, 'BA': 7, 'BE': 8, 'BO': 9, 'BR': 10, 'BS': 11, 'CA': 12, 'CF': 13, 'CH': 14, 'CL': 15, 'CN': 16, 'CO': 17, 'CR': 18, 'CZ': 19, 'DE': 20, 'DK': 21, 'DZ': 22, 'EE': 23, 'EG': 24, 'ES': 25, 'FI': 26, 'FR': 27, 'GB': 28, 'GH': 29, 'GR': 30, 'HK': 31, 'HN': 32, 'HR': 33, 'HU': 34, 'ID': 35, 'IE': 36, 'IL': 37, 'IN': 38, 'IQ': 39, 'IR': 40, 'IT': 41, 'JP': 42, 'KE': 43, 'LT': 44, 'LU': 45, 'LV': 46, 'MA': 47, 'MD': 48, 'MK': 49, 'MT': 50, 'MX': 51, 'MY': 52, 'NG': 53, 'NL': 54, 'NZ': 55, 'PH': 56, 'PK': 57, 'PL': 58, 'PR': 59, 'PT': 60, 'RO': 61, 'RU': 62, 'SE': 63, 'SG': 64, 'SI': 65, 'SK': 66, 'TH': 67, 'TR': 68, 'UA': 69, 'US': 70, 'VN': 71}

In [200]:
df.head()

,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size
0,2.0,2,84,85847,25,2.0
1,1.0,0,66,30000,70,0.0
2,1.0,0,66,25500,70,0.0
3,2.0,2,47,175000,12,1.0
4,2.0,2,47,120000,12,1.0

In [201]:
X, y = df.drop('salary_in_usd', axis=1), df['salary_in_usd']

In [202]:
X

,experience_level,employment_type,job_title,company_location,company_size
0,2.0,2,84,25,2.0
1,1.0,0,66,70,0.0
2,1.0,0,66,70,0.0
3,2.0,2,47,12,1.0
4,2.0,2,47,12,1.0
...,...,...,...,...,...
2579,2.0,2,47,70,2.0
2580,1.0,2,84,70,2.0
2581,0.0,2,47,70,0.0
2582,0.0,0,17,70,2.0
2583,2.0,2,45,38,2.0

In [203]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [204]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [205]:
from xgboost import XGBRegressor
model = XGBRegressor()

In [206]:
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [207]:
y_pred = model.predict(X_test)

In [208]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.41820453800812285

In [222]:
param_grid = {
    'n_estimators': [100, 200, 250, 300, 500],
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 4, 5,7],
}

In [223]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=5)

In [224]:
grid.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, device=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    feature_types=None, gamma=None,
                                    grow_policy=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, m...
                                    max_cat_threshold=None,
                                    max_cat_to_onehot=None, max_delta_step=None,
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None,
                                    multi_strategy=None, n_estimators=None,
                                    n_jobs=None, num_parallel_tree=None,
                                    random_state=None, ...),
             param_grid={'learning_rate': [0.01, 0.05, 0.1],
                         'max_depth': [3, 4, 5, 7],
                         'n_estimators': [100, 200, 250, 300, 500]})

In [225]:
grid.best_params_

{'learning_rate': 0.05, 'max_depth': 3, 'n_estimators': 250}

In [226]:
grid.best_score_

0.3942778765428095

In [227]:
y_pred_grid = grid.predict(X_test)

In [228]:
print(r2_score(y_test, y_pred_grid))

0.4677276809288148